/*@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css")*/

.login-headline {
	padding: 20px 0;
	margin-top: 2px;
	margin-bottom: 40px;
	font: 700 118px/1.1 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #1abc9c;
	text-align: center;
	word-wrap: break-word;
}
@media (max-width: 600px){
	.login-headline {
		font-size: 50px;
	}
}
.login-box{
  	width: 45%;
  	min-width: 300px;
  	margin: 0 auto;
}
.search-box{
  	width: 55%;
  	min-width: 300px;
  	margin: 60px auto!important;
  	text-align: center;
}
.logout{
  	/*background-color: lightblue;*/
  	background-image: url("../img/rainbow.png");
  	background-repeat: no-repeat;
  	background-position: left bottom;
  	background-attachment: fixed;
}
@media (max-width: 900px){
	.logout{
		background-image: none;
	}
}
.logo-small{
	content:url(../img/logo-small.png);
	height: 30px;
    width: 30px;
    float:left;
    margin-right: 10px;
    height: 100%;
    width: auto;
    vertical-align: middle;
}
.navbar-brand:hover{
	color: #34495e !important;
}




/* signup.css */

@font-face {
	font-family: 'FontAwesome';
	src: url('../css/font-awesome/fonts/fontawesome-webfont.woff2') format('woff2'),
	url('../css/font-awesome/fonts/fontawesome-webfont.woff') format('woff'),
	url('../css/font-awesome/fonts/fontawesome-webfont.ttf') format('truetype');
}

/*** custom checkboxes ***/

.container-survey-yesno > input[type=radio] { display:none; } /* to hide the checkbox itself */
.container-survey-yesno > input[type=radio] + label:before {
	font-family: FontAwesome;
	display: inline-block;
}

.container-survey-yesno > input[type=radio] + label:before { content: "\f096"; } /* unchecked icon */
.container-survey-yesno > input[type=radio] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

.container-survey-yesno > input[type=radio]:checked + label:before { content: "\f046"; } /* checked icon */
.container-survey-yesno > input[type=radio]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

.role-check-label {
	font-size: 1.5em;
}

.signup-headline {
	padding: 20px 0;
	margin-top: 2px;
	margin-bottom: 40px;
	font: 700 118px/1.1 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #1abc9c;
	text-align: center;
	word-wrap: break-word;
}

.header-signup {
	padding-left: 5em;

}

.sign-up-form {
	padding-right: 10em;
}



/** address.css **/

.country-select {
	position: relative;
	left: -0.68em;
	right: 0.30em;
	bottom: 0.45em;
	width: 390px !important;
}

.menu-margin{
	margin-top: 30px;
}
a > h3 {
	color: #34495e;
}
tr {
	height: 50px;
}
.trash-icon{
	height: 40px;
	margin-left: auto;
    margin-right: auto;
    display: block;
}
td > a > img{
	height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.table{
	margin-bottom: 80px;
}
th, .trash{
	padding-top: 0px!important;
	padding-bottom: 0px!important;
	vertical-align: middle!important;
}
th {
	padding-top: 0px ! important;
	padding-bottom: 0px ! important;
	vertical-align: middle !important;
}


/** search.css **/


.list-subcategory {
	left: 0.68em;
}
#table-account-feedback{
	margin-bottom: 0px;
}


.navbar-divider-vertical {
	height: 40px;
	margin: 0.9px;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #ffffff;
}



.search-side-panel {
	margin-left: 20px;
	margin-right: -1.5px;
	border-right: 3px solid #edeff1;
	border-bottom: 3px solid #edeff1;
}


img.search-result-table {
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.category-select {
	width: auto;
}

.search-page-header {
	padding-left: 20px;
}

.search-page-table {
	padding-right: 20px !important;


}


/** Rating star **/

.star-ctr {
	display: inline-block;
	position: relative;
	left: 1.0em;
	padding-bottom: 2em;
}

.star-ctr ul {
	white-space: nowrap;
	list-style: none outside none;
	padding-left: 0;
	overflow: hidden;
}

.star-fg {
	top: 0;
	position: absolute;
}

.star-ctr li {
	display: inline-block;
}

.star-ctr a > span {
	font-size: 3em;
}

.star-ctr a:hover {
	text-decoration: none;
}

.star-bg a > span {
	color: silver
}

.star-fg a > span {
	color: yellow;
}

.glyphicon-star-active {
	content: '★ ';
	font-size: 3em;
	color: yellow;
}


.glyphicon-star-inactive {
	content: '★ ';
	font-size: 3em;
}

.up-word {
	position: relative;
	bottom: 10em;
}

.btn-filter {
	position: relative;
	right: 70px;
	width: 200px;
	padding-right: 5em;
	padding-bottom: 10px;
	border: none;
}

.search-result-list li {
	list-style-type: none;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}

.container-item-description {
	padding-left: 0.8em;
	max-width: 1000px;
	padding-right: 5em;
}


.btn-bid {
	width: 40px;
	padding-bottom: 10px;
	padding-bottom: 10px;
	border: none;
}


.btn-follow {
	width: 40px;
	padding-bottom: 10px;
	padding-bottom: 10px;
	border: none;
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
.auction-form{
	margin-top: 40px;
}
.create-button{
	margin-bottom: 70px;
	margin-top: 30px;
}

/** Star rating, pure css **/


.rating {
	content: '★ ';
	float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
	content: '★ ';
	position:absolute;
	top:-9999px;
	clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
	content: '★ ';
	float:right;
	width:1em;
	padding:0 .1em;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	font-size:200%;
	line-height:1.2;
	color:#ddd;
	text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
	content: '★ ';
}

.rating > input:checked ~ label {
	content: '★ ';
	color: #f70;
	text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
	content: '★ ';
	color: gold;
	text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
	content: '★ ';
	color: #ea0;
	text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
	content: '★ ';
	position:relative;
	top:2px;
	left:2px;
}

.rating-search-result > label {
	width: 40px !important;
}

/** feedback.css **/

.feedback-list li {
	list-style-type: none;
}
.auction_img{
	max-height: 300px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}
.auction-left{

  min-height: 50vh; /* These two lines are counted as one :-)       */

/*  display: flex;
*/  align-items: center;
}

.container-feedback-comment {
	padding-right: 4em;
	padding-bottom: 2em;
	padding-top: 2em;
}

.textarea-comment {
	padding-top: 10em;
	width: 100%;
	height: 10em !important;
}

.btn-submit-comment {
	margin-top: 2em;
	border: none;
}

.feedback-star-rating {
	align: center !important;
	padding-top: 2em;
	padding-bottom: 2em;
}

.input-comment {
	padding-top: 2em;
	padding-bottom: 1em !important;
}

.rating-feedback-result > label {
	width: 10px !important;
}

/** Adjusts the spacing of the feedback stars **/
.rating-leave-feedback > label {
	width: 40px !important;
}
.auction-price{
	margin-top: 30px;
    margin-bottom: 30px;
	font-size: 120%;
	text-align: center;
}
#stars-price{
	margin-bottom: 3px;
}
h7{
	font-size: 15px;
}
#admin-tab{
	margin-bottom:0px !important;
}
#this-you{
	font-size: 15px;
	color: #f1c40f;
	border-color: #f1c40f;
}
